mobile-app/node_modules/**/*
mobile-app/.expo/*
mobile-app/npm-debug.*
mobile-app/*.jks
mobile-app/*.p8
mobile-app/*.p12
mobile-app/*.key
mobile-app/*.mobileprovision
mobile-app/*.orig.*
mobile-app/web-build/
mobile-app/web-report/
server/node_modules

